Repository pie-framework/pie-players: changes, and which lefthook commands are due for each by the changed paths.
All: svelte-check, svelte-build

svelte-check:
  run: bun run check

svelte-build:
  run: bun run --cwd apps/example build

section controller wip
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check

section controller wip
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/assessment-toolkit/src/services/ToolkitCoordinator.ts
Due: svelte-check, svelte-build

factored out session debug panel as reusable ce
  apps/section-demos/package.json
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  bun.lock
  packages/section-player-tools-session-debugger/SectionSessionPanel.svelte
  packages/section-player-tools-session-debugger/index.ts
  packages/section-player-tools-session-debugger/package.json
  packages/section-player-tools-session-debugger/tsconfig.json
  packages/section-player-tools-session-debugger/vite.config.ts
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/toolkit-section-contracts.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check, svelte-build

factored out source panel to local comp
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  apps/section-demos/src/routes/demo/[[id]]/SourcePanel.svelte
Due: svelte-check, svelte-build

refactored pnp debugger into ce
  apps/section-demos/package.json
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  bun.lock
  lefthook.yml
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/defaultPersonalNeedsProfile.ts
  packages/section-player-tools-pnp-debugger/PnpPanel.svelte
  packages/section-player-tools-pnp-debugger/index.ts
  packages/section-player-tools-pnp-debugger/package.json
  packages/section-player-tools-pnp-debugger/tsconfig.json
  packages/section-player-tools-pnp-debugger/vite.config.ts
  packages/section-player-tools-session-debugger/package.json
Due: svelte-check, svelte-build

cleanup thoroughly
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/section-player/src/PieSectionPlayer.svelte
Due: svelte-check, svelte-build

more cleanup
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/section-player-tools-session-debugger/SectionSessionPanel.svelte
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/SectionSessionService.ts
  packages/section-player/src/controllers/toolkit-section-contracts.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check, svelte-build

more cleanup
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  apps/section-demos/src/routes/demo/[[id]]/DemoMenuBar.svelte
  apps/section-demos/src/routes/demo/[[id]]/DemoOverlays.svelte
Due: svelte-check, svelte-build

wip
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  apps/section-demos/src/routes/demo/[[id]]/DemoMenuBar.svelte
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/component-definitions.ts
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/layout-elements/PieItemModeLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check, svelte-build

wip
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/layout-elements/PieItemModeLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
Due: svelte-check

wip migration to ce based layout
  apps/section-demos/package.json
  apps/section-demos/src/routes/+page.svelte
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.ts
  bun.lock
  packages/section-player/src/pie-section-player.ts
Due: svelte-check, svelte-build

wip migration to ce based layout
  apps/section-demos/src/custom-element-modules.d.ts
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
Due: svelte-check, svelte-build

tweaks
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/assessment-toolkit/src/context/runtime-context-consumer.ts
  packages/assessment-toolkit/src/index.ts
Due: svelte-check

wip ce refactor
  .claude/instructions.md
  .cursor/rules/custom-elements-boundaries.mdc
  README.md
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  apps/section-demos/svelte.config.js
  lefthook.yml
  package.json
  packages/assessment-toolkit/package.json
  packages/assessment-toolkit/scripts/copy-ce-sources.mjs
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/components/pie-assessment-toolkit-element.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/runtime/RuntimeRegistry.ts
  packages/assessment-toolkit/src/runtime/SectionRuntimeEngine.ts
  packages/assessment-toolkit/src/runtime/findParentToolkitRuntime.ts
  packages/assessment-toolkit/src/runtime/registration-events.ts
  packages/assessment-toolkit/src/runtime/runtime-binding-cache.ts
  packages/assessment-toolkit/src/runtime/runtime-event-guards.ts
  packages/section-player-tools-pnp-debugger/svelte.config.js
  packages/section-player-tools-session-debugger/svelte.config.js
  packages/section-player/package.json
  packages/section-player/src/components/ItemShellElement.svelte
  packages/section-player/src/components/PassageShellElement.svelte
  packages/section-player/src/pie-section-player.ts
  packages/section-player/src/runtime/runtime-event-guards.ts
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  scripts/check-consumer-boundaries.mjs
  scripts/check-source-exports.mjs
Due: svelte-check, svelte-build

wip ce refactor
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  packages/assessment-toolkit/package.json
  packages/assessment-toolkit/scripts/build-ce-components.mjs
  packages/assessment-toolkit/scripts/copy-ce-sources.mjs
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/components/item-toolbar-element.ts
  packages/assessment-toolkit/src/components/pie-assessment-toolkit-element.ts
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/index.ts
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/tsconfig.svelte-check.json
  scripts/check-custom-elements.mjs
Due: svelte-check, svelte-build

update turbo
  bun.lock
  package.json
Due: none

fix tool button enabled
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/section-tools-toolbar/section-tools-toolbar.svelte
Due: svelte-check

wip ce refactor
  packages/assessment-toolkit/package.json
  packages/assessment-toolkit/scripts/build-ce-components.mjs
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/assessment-toolkit/src/components/PNPProvenanceViewer.svelte
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/components/ToolButton.svelte
  packages/assessment-toolkit/src/components/ToolButtonGroup.svelte
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/ToolRegistry.ts
  packages/assessment-toolkit/src/services/createDefaultToolRegistry.ts
  packages/assessment-toolkit/src/tools/default-tool-module-loaders.ts
  packages/assessment-toolkit/src/tools/registrations/accessibility-tools.ts
  packages/assessment-toolkit/src/tools/registrations/calculator.ts
  packages/assessment-toolkit/src/tools/registrations/interaction-tools.ts
  packages/assessment-toolkit/src/tools/registrations/measurement-tools.ts
  packages/assessment-toolkit/src/tools/registrations/subject-specific-tools.ts
  packages/assessment-toolkit/src/tools/registrations/tts.ts
  packages/assessment-toolkit/src/tools/tool-tag-map.ts
  packages/assessment-toolkit/tsconfig.json
  packages/section-player-tools-pnp-debugger/package.json
  packages/section-player-tools-session-debugger/package.json
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-toolbar/tool-toolbar.svelte
Due: svelte-check

wip ce refactor
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
Due: svelte-check, svelte-build

misc ai
  .claude/instructions.md
  .cursor/rules/custom-elements-boundaries.mdc
Due: none

refactor: migrate toolkit/shell/tool coordination from DOM traversal to pie-context
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/context/runtime-context-consumer.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/runtime/findParentToolkitRuntime.ts
  packages/assessment-toolkit/src/runtime/runtime-binding-cache.ts
  packages/section-player/src/components/ItemShellElement.svelte
  packages/section-player/src/components/PassageShellElement.svelte
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-answer-eliminator/answer-eliminator-core.ts
  packages/tool-answer-eliminator/tool-answer-eliminator.svelte
  packages/tool-color-scheme/tool-color-scheme.svelte
Due: svelte-check

refactor: migrate toolkit/shell/tool coordination from DOM traversal to pie-context
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/context/runtime-context-consumer.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/TTSService.ts
  packages/assessment-toolkit/src/services/interfaces.ts
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/components/ItemShellElement.svelte
  packages/section-player/src/components/PassageShellElement.svelte
  packages/tool-answer-eliminator/answer-eliminator-core.ts
  packages/tool-answer-eliminator/tool-answer-eliminator.svelte
Due: svelte-check

refactor: migrate toolkit/shell/tool coordination from DOM traversal to pie-context
  packages/assessment-toolkit/src/services/interfaces.ts
  packages/assessment-toolkit/src/tools/response-discovery.ts
  packages/assessment-toolkit/src/tools/types.ts
  packages/tool-annotation-toolbar/tool-annotation-toolbar.svelte
  packages/tool-answer-eliminator/strategies/mask-strategy.ts
  packages/tool-answer-eliminator/strategies/strikethrough-strategy.ts
  packages/tool-tts-inline/tool-tts-inline.svelte
Due: svelte-check

refactor: extract base section-player tag and harden tool runtime contracts
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  docs/TOOL_HOST_CONTRACT.md
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/runtime/tool-host-contract.ts
  packages/section-player/package.json
  packages/section-player/src/components/ItemShellElement.svelte
  packages/section-player/src/components/PassageShellElement.svelte
  packages/section-player/src/components/layout-elements/PieSectionPlayerBaseElement.svelte
  packages/section-player/src/components/section-player-base-element.ts
  packages/section-player/src/pie-section-player.ts
  packages/tool-answer-eliminator/tool-answer-eliminator.svelte
  packages/tool-calculator-inline/tool-calculator-inline.svelte
  packages/tool-calculator/tool-calculator.contract.test.ts
  packages/tool-calculator/tool-calculator.svelte
  packages/tool-color-scheme/tool-color-scheme.svelte
  packages/tool-graph/tool-graph.contract.test.ts
  packages/tool-graph/tool-graph.svelte
  packages/tool-line-reader/tool-line-reader.svelte
  packages/tool-periodic-table/tool-periodic-table.svelte
  packages/tool-protractor/tool-protractor.svelte
  packages/tool-ruler/tool-ruler.svelte
  packages/tool-tts-inline/tool-tts-inline.svelte
Due: svelte-check, svelte-build

docs: prune stale docs and consolidate canonical references
  GETTING-STARTED.md
  README.md
  docs/ARCHITECTURE.md
  docs/ATTEMPT-SESSION-ALIGNMENT-IMPLEMENTATION-PLAN.md
  docs/BUILD-FIXES-2026-02-06.md
  docs/CALCULATOR_INLINE_TOOL.md
  docs/README.md
  docs/SECTION-PLAYER-DEMOS.md
  docs/SECTION-PLAYER-IMPLEMENTATION-PLAN.md
  docs/SECTION-PLAYER-PHASE1-COMPLETE.md
  docs/SECTION-STRUCTURE-DESIGN.md
  docs/SECTION-TTS-INTEGRATION-COMPLETE.md
  docs/TTS-TRIM-OFFSET-FIX.md
  docs/TTS-WORD-HIGHLIGHTING-FIXES.md
  docs/accessibility-catalogs-quick-start.md
  docs/calculator-implementation-review.md
  docs/calculator-mathjs-implementation-summary.md
  docs/calculator-svelte-implementation.md
  docs/environment-setup.md
  docs/evals/README.md
  docs/qti-3-toolkit-alignment-analysis.md
  docs/qti-3.0-feature-support.md
  docs/qti3-paired-passages-design.md
  docs/refactoring-complete-summary.md
  docs/section-player-layout-system.md
  docs/tool-registry-refactoring-comparison.md
  docs/tools-and-accomodations/REFACTORING-SUMMARY.md
  docs/tools-and-accomodations/tool-registry-implementation-guide.md
  docs/tts-highlighting-implementation-plan.md
  packages/section-player/ARCHITECTURE.md
  packages/section-player/README.md
  packages/tool-calculator/tests/tool-calculator.contract.test.ts
  packages/tool-graph/tests/tool-graph.contract.test.ts
  packages/tool-tts-inline/README.md
  packages/tts-server-polly/examples/INTEGRATION-GUIDE.md
Due: svelte-check

move base player
  packages/section-player/src/components/PieSectionPlayerBaseElement.svelte
  packages/section-player/src/components/section-player-base-element.ts
  packages/section-player/src/pie-section-player.ts
Due: svelte-check

switch to shadow dom for more reliable comms/ context api use
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  docs/README.md
  docs/TOOL_HOST_CONTRACT.md
  packages/assessment-toolkit/src/components/ItemToolBar.svelte
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/assessment-toolkit/src/services/ThemeProvider.ts
  packages/assessment-toolkit/src/tools/library-loader.ts
  packages/assessment-toolkit/src/tools/types.ts
  packages/default-tool-loaders/src/index.ts
  packages/players-shared/src/components/ToolSettingsButton.svelte
  packages/section-player-tools-pnp-debugger/PnpPanel.svelte
  packages/section-player-tools-session-debugger/SectionSessionPanel.svelte
  packages/section-player/ARCHITECTURE.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/components/ItemShellElement.svelte
  packages/section-player/src/components/PassageShellElement.svelte
  packages/section-player/src/components/layout-elements/PieItemModeLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-annotation-toolbar/tool-annotation-toolbar.svelte
  packages/tool-answer-eliminator/tool-answer-eliminator.svelte
  packages/tool-calculator-inline/tool-calculator-inline.svelte
  packages/tool-calculator/tool-calculator.svelte
  packages/tool-color-scheme/tool-color-scheme.svelte
  packages/tool-graph/tool-graph.svelte
  packages/tool-line-reader/tool-line-reader.svelte
  packages/tool-periodic-table/tool-periodic-table.svelte
  packages/tool-protractor/tool-protractor.svelte
  packages/tool-ruler/tool-ruler.svelte
  packages/tool-text-to-speech/tool-text-to-speech.svelte
  packages/tool-toolbar/README.md
  packages/tool-toolbar/tool-toolbar.svelte
  packages/tool-tts-inline/tool-tts-inline.svelte
Due: svelte-check, svelte-build

calc fixes
  apps/section-demos/package.json
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  bun.lock
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-calculator-inline/tool-calculator-inline.svelte
  packages/tool-calculator/tool-calculator.svelte
Due: svelte-check, svelte-build

calculator troubles
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
Due: svelte-check, svelte-build

ce wip
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  packages/assessment-toolkit/src/components/PieAssessmentToolkit.svelte
  packages/section-player/package.json
  packages/section-player/src/components/PieSectionPlayerBaseElement.svelte
  packages/section-player/src/components/PieSectionPlayerSplitPaneElement.svelte
  packages/section-player/src/components/item-shell-element.ts
  packages/section-player/src/components/passage-shell-element.ts
  packages/section-player/src/components/section-player-splitpane-element.ts
  packages/section-player/src/pie-section-player.ts
Due: svelte-check, svelte-build

ce use static imports
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  packages/section-player/src/components/PieSectionPlayerBaseElement.svelte
  packages/section-player/src/components/PieSectionPlayerSplitPaneElement.svelte
Due: svelte-check, svelte-build

wip
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
  packages/section-player/src/components/PieSectionPlayerBaseElement.svelte
  packages/section-player/src/components/PieSectionPlayerSplitPaneElement.svelte
Due: svelte-check, svelte-build

publish changes
  .changeset/all-publishable-packages-doc-sync.md
  docs/CUSTOM_ELEMENTS_INVENTORY.md
  docs/PUBLISHABLE_PACKAGES.md
  docs/publishing.md
Due: none

svelte fix
  apps/section-demos/src/routes/demo-direct/[[id]]/+page.svelte
Due: svelte-check, svelte-build

cicd fix
  packages/assessment-toolkit/src/tools/default-tool-module-loaders.ts
Due: svelte-check

ci fixes
  .github/workflows/pages.yml
  GETTING-STARTED.md
  README.md
  apps/docs/src/routes/+layout.ts
  apps/docs/src/routes/+page.svelte
  apps/docs/svelte.config.js
  docs/GITHUB_PAGES_SETUP.md
  docs/README.md
  docs/aws-polly-setup-guide.md
  docs/environment-setup.md
  package.json
  packages/assessment-toolkit/tests/ToolRegistry.test.ts
  packages/assessment-toolkit/tests/calculator-registration.test.ts
  packages/assessment-toolkit/tests/tool-tag-map.test.ts
Due: svelte-check, svelte-build

more ci fixes
  .github/workflows/ci.yml
  .github/workflows/fixed-static-release.yml
  .github/workflows/release.yml
  scripts/fixed-player-static/publish-changed.mjs
  tools/cli/oclif.manifest.json
  tools/cli/package.json
  tools/cli/src/commands/pie-packages/fixed-player-build-and-test-package.ts
  tools/cli/src/commands/pie-packages/fixed-player-build-package.ts
  tools/cli/src/utils/pie-packages/test-project.ts
Due: svelte-check

support force publish
  .github/workflows/release.yml
Due: none

more ci improvements
  docs/NPM_TOKEN_SETUP.md
  docs/publishing.md
  scripts/changeset-publish-resolved-workspaces.mjs
Due: none

Path conditions:
  svelte-check: any of: *.{js,ts,svelte}
  svelte-build: any of: apps/**/*.{js,ts,svelte,css}
