Repository pie-framework/pie-players: changes, and which lefthook commands are due for each by the changed paths.
All: svelte-check, svelte-build

svelte-check:
  run: bun run check

svelte-build:
  run: bun run --cwd apps/example build

chore(ci): require actual version bumps for release intent
  .github/workflows/release.yml
Due: none

dep tweak
  bun.lock
Due: none

remove not quite work stuff we can add again at some later point
  apps/section-demos/src/lib/components/AssessmentToolkitSettings.svelte
  apps/section-demos/src/lib/components/README_SETTINGS.md
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  apps/section-demos/src/routes/settings-test/+page.svelte
  packages/assessment-toolkit/docs/PNP_TESTING.md
  packages/assessment-toolkit/docs/PNP_TESTING_QUICK_START.md
  packages/assessment-toolkit/docs/PNP_TESTING_SUMMARY.md
  packages/assessment-toolkit/package.json
  packages/assessment-toolkit/src/components/PNPProfileTester.example.svelte
  packages/assessment-toolkit/src/components/PNPProfileTester.svelte
  packages/assessment-toolkit/src/components/PNPProvenanceViewer.svelte
Due: svelte-check, svelte-build

turbo upgrade
  bun.lock
  package.json
Due: none

use pie-* classes in tools
  apps/section-demos/src/hooks.server.ts
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/assessment-toolkit/src/tools/README.md
  packages/assessment-toolkit/src/tools/TOOL_TEMPLATE.md
  packages/assessment-toolkit/src/tools/calculators/README.md
  packages/assessment-toolkit/tests/ToolRegistry.test.ts
  packages/theme-daisyui/README.md
  packages/theme-daisyui/src/bridge.css
  packages/theme-daisyui/src/index.ts
  packages/theme/README.md
  packages/theme/src/font-sizes.css
  packages/theme/src/theme-element.ts
  packages/tool-annotation-toolbar/highlights.css
  packages/tool-annotation-toolbar/tool-annotation-toolbar.svelte
  packages/tool-calculator-inline/tool-calculator-inline.svelte
  packages/tool-calculator/tool-calculator.svelte
  packages/tool-color-scheme/tool-color-scheme.svelte
  packages/tool-graph/tool-graph.svelte
  packages/tool-line-reader/tool-line-reader.svelte
  packages/tool-magnifier/Magnifier.svelte
  packages/tool-magnifier/README.md
  packages/tool-magnifier/tool-magnifier.svelte
  packages/tool-periodic-table/tool-periodic-table.svelte
  packages/tool-protractor/tool-protractor.svelte
  packages/tool-ruler/tool-ruler.svelte
  packages/tool-text-to-speech/tool-text-to-speech.svelte
  packages/tool-toolbar/tool-toolbar.svelte
  packages/tool-tts-inline/tool-tts-inline.svelte
Due: svelte-check, svelte-build

use pie-* styles in players
  package.json
  packages/esm-player/src/PieEsmPlayer.svelte
  packages/fixed-player/src/PieFixedPlayer.svelte
  packages/iife-player/src/PieIifePlayer.svelte
  packages/inline-player/src/ItemLoader.svelte
  packages/inline-player/src/PieInlinePlayer.svelte
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemNavigation.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/PassageRenderer.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
  packages/tool-tts-inline/README.md
  packages/tool-tts-inline/tool-tts-inline.svelte
  scripts/dev-section.ts
Due: svelte-check

clean up settings panels
  apps/section-demos/src/lib/components/AssessmentToolkitSettings.svelte
  apps/section-demos/src/lib/components/README_SETTINGS.md
  apps/section-demos/src/lib/components/TTSSettings.svelte
  apps/section-demos/src/routes/settings-test/+page.svelte
  packages/assessment-toolkit/src/README.md
  scripts/dev-section.ts
Due: svelte-check, svelte-build

tool loading restructure
  bun.lock
  docs/tools-and-accomodations/toolbar-verification-checklist.md
  packages/assessment-toolkit/src/components/QuestionToolBar.svelte
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/ToolRegistry.ts
  packages/default-tool-loaders/README.md
  packages/default-tool-loaders/package.json
  packages/default-tool-loaders/src/index.ts
  packages/default-tool-loaders/tsconfig.json
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  scripts/verify-toolbar-smoke.mjs
Due: svelte-check

more tool loading tweaks
  packages/default-tool-loaders/src/index.ts
  packages/section-tools-toolbar/package.json
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/section-tools-toolbar/tsconfig.json
  packages/section-tools-toolbar/vite.config.ts
  tsconfig.json
Due: svelte-check

last tool reg tweaks
  docs/tools-and-accomodations/tool-registry-architecture.md
  packages/assessment-toolkit/docs/TOOL_REGISTRY.md
  packages/assessment-toolkit/src/README.md
  packages/assessment-toolkit/src/services/createDefaultToolRegistry.ts
  packages/default-tool-loaders/README.md
Due: svelte-check

more loader tweaks
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/svelte.config.js
  packages/section-player/tsconfig.json
  packages/section-player/tsconfig.svelte-check.json
Due: svelte-check

separate loads/ players, align item and passage players, use pie-* and customClassName consistently
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/esm-player/src/PieEsmPlayer.svelte
  packages/fixed-player/src/PieFixedPlayer.svelte
  packages/fixed-player/src/README.md
  packages/iife-player/src/PieIifePlayer.svelte
  packages/iife-player/src/README.md
  packages/inline-player/src/ItemLoader.svelte
  packages/inline-player/src/PieInlinePlayer.svelte
  packages/inline-player/src/README.md
  packages/players-shared/src/components/PieItemPlayer.svelte
  packages/players-shared/src/components/PiePreviewLayout.svelte
  packages/players-shared/src/pie/iife-loader.ts
  packages/players-shared/src/pie/player-initializer.ts
  packages/section-player/EXTENSIBILITY-NOTES.md
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/component-definitions.ts
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/PassageRenderer.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
  packages/section-player/src/pie-section-player.ts
Due: svelte-check, svelte-build

align test-attempt session handling and improve section demo panel UX
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  bun.lock
  docs/ATTEMPT-SESSION-ALIGNMENT-IMPLEMENTATION-PLAN.md
  packages/assessment-toolkit/README.md
  packages/assessment-toolkit/src/attempt/TestSession.ts
  packages/assessment-toolkit/src/attempt/adapters/activity-to-test-attempt-session.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/tests/test-attempt-session-adapter.test.ts
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
Due: svelte-check, svelte-build

tool filtering improvements
  packages/assessment-toolkit/docs/TOOL_REGISTRY.md
  packages/assessment-toolkit/src/components/QuestionToolBar.svelte
  packages/assessment-toolkit/src/services/createDefaultToolRegistry.ts
  packages/assessment-toolkit/src/services/tool-context.ts
  packages/assessment-toolkit/src/tools/registrations/calculator.ts
  packages/assessment-toolkit/src/tools/registrations/interaction-tools.ts
  packages/assessment-toolkit/tests/calculator-registration.test.ts
  packages/assessment-toolkit/tests/tool-context-helpers.test.ts
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-toolbar/tool-toolbar.svelte
Due: svelte-check

remove element level (impl detail of item level)
  packages/assessment-toolkit/src/tools/registrations/calculator.ts
  packages/assessment-toolkit/src/tools/registrations/interaction-tools.ts
  packages/assessment-toolkit/src/tools/registrations/tts.ts
Due: svelte-check

packaging fix
  packages/default-tool-loaders/package.json
Due: none

package fixes
  packages/theme-daisyui/package.json
  packages/theme/package.json
  scripts/check-attw.mjs
Due: none

ci tweak
  scripts/check-publint.mjs
Due: none

tweaks
  scripts/check-publint.mjs
Due: none

better composition
  bun.lock
  packages/assessment-toolkit/README.md
  packages/assessment-toolkit/package.json
  packages/assessment-toolkit/src/components/QuestionToolBar.svelte
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/tsconfig.json
  packages/pie-context/README.md
  packages/pie-context/package.json
  packages/pie-context/src/consumer.ts
  packages/pie-context/src/events.ts
  packages/pie-context/src/index.ts
  packages/pie-context/src/provider.ts
  packages/pie-context/src/root.ts
  packages/pie-context/src/types.ts
  packages/pie-context/test/pie-context.test.ts
  packages/pie-context/tsconfig.json
  packages/section-player/README.md
  packages/section-player/package.json
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/component-definitions.ts
  packages/section-player/src/components/ItemPlayerBridge.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/ItemShell.svelte
  packages/section-player/src/components/layout-elements/PieComposedSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layouts/ComposedSplitPanelLayout.svelte
  packages/section-player/src/components/layouts/SplitPanelPrimitive.svelte
  tsconfig.json
Due: svelte-check

move to context and callback model (to replace prop drilling)
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/assessment-toolkit/src/components/QuestionToolBar.svelte
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/ToolkitCoordinator.ts
  packages/assessment-toolkit/src/services/interfaces.ts
  packages/pie-context/README.md
  packages/pie-context/src/consumer.ts
  packages/pie-context/src/events.ts
  packages/pie-context/src/provider.ts
  packages/pie-context/src/root.ts
  packages/pie-context/test/pie-context.test.ts
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/component-definitions.ts
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/layout-elements/PieComposedSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-player/src/components/layouts/ComposedSplitPanelLayout.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
Due: svelte-check, svelte-build

remove player options (for now), fix desmos init
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/component-definitions.ts
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-player/src/components/layouts/ComposedSplitPanelLayout.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/SplitPanelPrimitive.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
Due: svelte-check, svelte-build

remove dictionary tools (we aren't using them yet)
  apps/section-demos/src/routes/api/README.md
  apps/section-demos/src/routes/api/dictionary/+server.ts
  apps/section-demos/src/routes/api/picture-dictionary/+server.ts
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  docs/ARCHITECTURE.md
  docs/annotation-toolbar-backend-config.md
  docs/annotation-toolbar-dialogs.md
  docs/qti-3-toolkit-alignment-analysis.md
  docs/question-layout-engine-architecture.md
  docs/tools-and-accomodations/architecture.md
  docs/tools-and-accomodations/tool-registry-architecture.md
  packages/assessment-toolkit/src/README.md
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/AnnotationToolbarConfig.ts
  packages/assessment-toolkit/src/services/ToolConfigResolver.ts
  packages/assessment-toolkit/src/services/ToolCoordinator.ts
  packages/assessment-toolkit/src/services/pnp-standard-features.ts
  packages/assessment-toolkit/src/services/tool-providers/IToolProvider.ts
  packages/assessment-toolkit/src/tools/README.md
  packages/assessment-toolkit/tests/tool-config-resolver.test.ts
  packages/players-shared/src/i18n/translations/ar/tools.json
  packages/players-shared/src/i18n/translations/en/tools.json
  packages/players-shared/src/i18n/translations/es/tools.json
  packages/players-shared/src/i18n/translations/zh/tools.json
  packages/section-player/src/utils/z-index.ts
  packages/tool-annotation-toolbar/README.md
  packages/tool-annotation-toolbar/tool-annotation-toolbar.svelte
  packages/tool-toolbar/README.md
  packages/tool-toolbar/tool-toolbar.svelte
Due: svelte-check, svelte-build

use context more
  bun.lock
  packages/assessment-toolkit/README.md
  packages/assessment-toolkit/src/components/QuestionToolBar.svelte
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/tools/registrations/accessibility-tools.ts
  packages/assessment-toolkit/src/tools/registrations/calculator.ts
  packages/assessment-toolkit/src/tools/registrations/interaction-tools.ts
  packages/assessment-toolkit/src/tools/registrations/measurement-tools.ts
  packages/assessment-toolkit/src/tools/registrations/subject-specific-tools.ts
  packages/assessment-toolkit/src/tools/registrations/tts.ts
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/ItemShell.svelte
  packages/section-tools-toolbar/package.json
  packages/section-tools-toolbar/section-tools-toolbar.svelte
  packages/tool-answer-eliminator/package.json
  packages/tool-answer-eliminator/tool-answer-eliminator.svelte
  packages/tool-calculator-inline/package.json
  packages/tool-calculator-inline/tool-calculator-inline.svelte
  packages/tool-calculator/package.json
  packages/tool-calculator/tool-calculator.svelte
  packages/tool-color-scheme/package.json
  packages/tool-color-scheme/tool-color-scheme.svelte
  packages/tool-graph/package.json
  packages/tool-graph/tool-graph.svelte
  packages/tool-line-reader/package.json
  packages/tool-line-reader/tool-line-reader.svelte
  packages/tool-magnifier/package.json
  packages/tool-magnifier/tool-magnifier.svelte
  packages/tool-periodic-table/package.json
  packages/tool-periodic-table/tool-periodic-table.svelte
  packages/tool-protractor/package.json
  packages/tool-protractor/tool-protractor.svelte
  packages/tool-ruler/package.json
  packages/tool-ruler/tool-ruler.svelte
  packages/tool-tts-inline/package.json
  packages/tool-tts-inline/tool-tts-inline.svelte
Due: svelte-check

remove translation tool
  apps/section-demos/src/routes/api/README.md
  apps/section-demos/src/routes/api/translation/+server.ts
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  docs/annotation-toolbar-backend-config.md
  docs/annotation-toolbar-dialogs.md
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/AnnotationToolbarConfig.ts
  packages/tool-annotation-toolbar/README.md
  packages/tool-annotation-toolbar/tool-annotation-toolbar.svelte
  packages/tool-toolbar/README.md
  packages/tool-toolbar/tool-toolbar.svelte
Due: svelte-check, svelte-build

tweaks
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
Due: svelte-check, svelte-build

section controller wip
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/assessment-toolkit/src/context/assessment-toolkit-context.ts
  packages/assessment-toolkit/src/index.ts
  packages/assessment-toolkit/src/services/ToolkitCoordinator.ts
  packages/assessment-toolkit/src/services/interfaces.ts
  packages/assessment-toolkit/src/services/section-controller-types.ts
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/components/ItemModeLayout.svelte
  packages/section-player/src/components/ItemPlayerBridge.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/components/layout-elements/PieSplitPanelLayoutElement.svelte
  packages/section-player/src/components/layout-elements/PieVerticalLayoutElement.svelte
  packages/section-player/src/components/layouts/SplitPanelLayout.svelte
  packages/section-player/src/components/layouts/VerticalLayout.svelte
  packages/section-player/src/controllers/SectionContentService.ts
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/SectionNavigationService.ts
  packages/section-player/src/controllers/SectionSessionService.ts
  packages/section-player/src/controllers/SectionToolkitService.ts
  packages/section-player/src/controllers/SessionPersistenceStrategy.ts
  packages/section-player/src/controllers/toolkit-section-contracts.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check, svelte-build

nav scope tweak
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/SectionItemNavigationService.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check

section controller wip
  apps/section-demos/README.md
  apps/section-demos/src/lib/content/demo1-single-question.ts
  apps/section-demos/src/lib/content/demo2-question-passage.ts
  apps/section-demos/src/lib/content/demo3-three-questions.ts
  apps/section-demos/src/lib/content/demo4-tts-ssml.ts
  apps/section-demos/src/lib/content/sections.ts
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/assessment-toolkit/src/services/tool-context.ts
  packages/players-shared/src/index.ts
  packages/players-shared/src/types/index.ts
  packages/section-player/ARCHITECTURE.md
  packages/section-player/README.md
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/PieSectionPlayer.svelte.d.ts
  packages/section-player/src/components/ItemPlayerBridge.svelte
  packages/section-player/src/components/ItemRenderer.svelte
  packages/section-player/src/controllers/SectionContentService.ts
  packages/section-player/src/controllers/SectionController.ts
  packages/section-player/src/controllers/SectionSessionService.ts
  packages/section-player/src/controllers/toolkit-section-contracts.ts
  packages/section-player/src/controllers/types.ts
Due: svelte-check, svelte-build

section controller wip
  apps/section-demos/src/routes/demo/[[id]]/+page.svelte
  packages/section-player/src/PieSectionPlayer.svelte
  packages/section-player/src/controllers/SectionController.ts
Due: svelte-check, svelte-build

Path conditions:
  svelte-check: any of: *.{js,ts,svelte}
  svelte-build: any of: apps/**/*.{js,ts,svelte,css}
